* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content:center ;
    width: calc(100% - 100px);
    margin: 10px auto;
}
.mainP{
    font-family:monospace;
    color: #513A9D;
}
.cards-container{
    background-color: aquamarine;
    width: calc(100% - 100px);
    margin: 15px auto;
}
.card{
    padding: 20px;
    background-color: #2B1F79;
    
}

.card-content{
    color: #eee8ff;
}
.card-img{
    width: 140px;
    height: 140px;
}
.icon-img{
    color: rgb(148, 149, 164);
}
.logoPart
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoPart h1{
    font-size: 15px;
    padding-left: 10px;
}
.navbar{
    background-color: #eee8ff;
    display: flex;
    padding: 10px 30px 10px 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 100%;

}
.navbar li:hover{
    background-color:#513A9D ;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    
}
 .mylogo img{
    width: 60px;
    height: 50px;
 }
 .mylogo:hover img {
    transform: scale(1.1);  
    transition: 0.3s;
}

 .navbar li{
    text-decoration: none;
    padding: 10px;
 }
 .navbar ul{
    display: flex;
   list-style-type: none;
 }

body{
background-color: #c1b5d5;
}
.main{
    display: flex;
    padding: 10px 50px  ;

}
aside{
    margin-right: 15px;
    width: 25%;
}
main{
    width: 75%;

}
aside ,main{
    background-color: azure;
    padding: 20px;
    height:300px;
    box-shadow: 0 4px 4px 0 rgba(57, 25, 75, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 