* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content:center ;
    width: calc(100% - 100px);
    margin: 10px auto;
}
.mainP{
    font-family:monospace;
    color: #513A9D;
}
.cards-container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 10px;
    width: calc(100% - 100px);
    margin: 15px auto;
}
.card{
 
    padding: 20px;
    background :linear-gradient(20deg, #3F2B96 0%, #A8C0FF 100%);
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(57, 25, 75, 0.2);
    
}
.card:hover{
    background :linear-gradient(20deg, #2a215a 0%, #11141b 100%);

}

.card-content{
    color: #eee8ff;
    padding-top: 20px;
}
.card-img{
    width: 140px;
    height: 140px;
    margin: 20px;
}
.icon-img{
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
.logoPart
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoPart h1{
    font-size: 15px;
    padding-left: 10px;
}
.prelastcard{
    background :linear-gradient(20deg, #2a215a 0%, #11141b 100%);
    grid-column-start: 1;
    grid-column-end: 4;

}
.prelastcard:hover{
    background :linear-gradient(20deg, #3F2B96 0%, #A8C0FF 100%);
   
}
.forthcard:hover{
    background :linear-gradient(20deg, #3F2B96 0%, #A8C0FF 100%);
   
}

.forthcard{
    background :linear-gradient(20deg, #2a215a 0%, #11141b 100%);

}
.navbar{
    background-color: #eee8ff;
    display: flex;
    padding: 10px 30px 10px 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 100%;

}
.navbar li:hover{
    background-color:#513A9D ;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    
}
 .mylogo img{
    width: 60px;
    height: 50px;
 }
 .mylogo:hover img {
    transform: scale(1.1);  
    transition: 0.3s;
}

 .navbar li{
    text-decoration: none;
    padding: 10px;
 }
 .navbar ul{
    display: flex;
   list-style-type: none;
 }

body{
background-color: #dce4fa;
}
.main{
    display: flex;
    padding: 10px 50px  ;

}
aside{
    margin-right: 15px;
    width: 25%;
}
main{
    width: 75%;

}
aside ,main{
    background-color: azure;
    padding: 20px;
    height:300px;
    box-shadow: 0 4px 4px 0 rgba(57, 25, 75, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 