* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content:center ;
    width: calc(100% - 100px);
    margin: 10px auto;
}
.mainP{
    font-family:monospace;
    color: #513A9D;
}
.cards-container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    width: calc(100% - 100px);
    max-width: 1700px;
    margin: 15px auto;
}
.card{
 
    padding: 20px;
    background :linear-gradient(20deg, #3F2B96 0%, #A8C0FF 100%);
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(57, 25, 75, 0.2);
    
}


@media (max-width: 500px) {
    .cards-container {
        grid-template-columns: 1fr; 
        width: 100%;
        }
    .prelastcard {
        grid-column: span 1;
    }
   
}


.card:hover{
    background :linear-gradient(20deg, #2a215a 0%, #11141b 100%);

}

.card-content{
    color: #eee8ff;
    padding-top: 20px;
}
.card-img{
    width: 140px;
    height: 140px;
    margin: 20px;
}
.icon-img{
    color: rgb(255, 255, 255);
    margin-top: 15px;
}
.logoPart
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoPart h1{
    font-size: 15px;
    padding-left: 10px;
}
.prelastcard{
    background :linear-gradient(20deg, #2a215a 0%, #11141b 100%);
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 1;

}
.prelastcard:hover{
    background :linear-gradient(20deg, #3F2B96 0%, #A8C0FF 100%);
   
}
.forthcard:hover{
    background :linear-gradient(20deg, #3F2B96 0%, #A8C0FF 100%);
   
}

.forthcard{
    background :linear-gradient(20deg, #2a215a 0%, #11141b 100%);

}
.navbar{
    background-color: #eee8ff;
    display: flex;
    padding: 10px 30px 10px 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 100%;

}
.hamburger-menu{
    display: none;
}

.list-items{
    display: block;
}

@media (max-width : 768px) {
    .hamburger-menu{
        display: block;
    }
    .list-items{
        display: none;
    }
    .hamburger-menu i{
        font-size: 2rem;
        color: white;
     }
   .mainP{
        font-family:monospace;
        color: #170b0b;
         display: -webkit-box;
        -webkit-line-clamp: 6;     
       -webkit-box-orient: vertical; 
        overflow: hidden;
    }
    .main{
        flex-direction: column-reverse;
        align-items: center;
        background-color: #f7edeb;
        padding: 0px;


    } 
    aside{
        margin-right: 0px;
        background-color: rgb(84, 84, 228);
        padding: 0px;
        height:300px;
        width: 100%;
    }
    main{
        width: 100%;
        margin-bottom: 15px;
        height: 500px;
        background-color: rgb(224, 29, 165);
        padding: 0;
    
    }
    
}
/*  0 - 480 px */
@media(max-width : 480px){
    .navbar{
        background-color: #4c28af;
        border-radius: 2px;


    }
}
@media(min-width : 481px) and  (max-width : 768px  ){
    .navbar{
        background-color: #b5cbe6;
        border-radius: 2px;


    }
}

.navbar li:hover{
    background-color:#513A9D ;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    
}
 .mylogo img{
    width: 60px;
    height: 50px;
 }
 .mylogo:hover img {
    transform: scale(1.1);  
    transition: 0.3s;
}

 .navbar li{
    text-decoration: none;
    padding: 10px;
 }
 .navbar ul{
    display: flex;
   list-style-type: none;
 }

body{
background-color: #dce4fa;
}
.main{
    display: flex;
    padding: 10px 50px  ;

}
aside{
    margin-right: 15px;
    width: 25%;
}
main{
    width: 75%;

}
aside ,main{
    background-color: azure;
    padding: 20px;
    height:300px;
    box-shadow: 0 4px 4px 0 rgba(57, 25, 75, 0.2);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 